$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

html, body{
  margin: 20px;
}

ul{
    list-style: none;
    margin-left: 0;
}

ul li{
    margin-top: 10px;
    margin-left: 0;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1{
    margin: 20px 0;
}

.list-contacts{
    list-style: none;
    margin: 40px 0 0 0;
}

.list-contacts li{
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    margin-left: 0;
    cursor: pointer;
    border-radius: 4px;

    transition: all 0.4s ease;
}

.list-contacts li:hover{
    background: #f7f7f7;
}

.row-fluid [class*="span"]{
    margin-left: 0;
}


/*
*   Fixing the bug in modal
*/
.modal.fade{
    top: -50%;
}