<div class="span12">
	<h1>Yours contacts</h1>
	
	<!-- Form to add or search a contact in/of list -->
	<form ng-submit="addContact()">
		<p class="controls form-inline">
			<input type="text" class="span4" ng-model="newContact.name" placeholder="Name">
			<button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"></i></button>
		</p>
	</form>
	<!-- End Form -->
	

	<!-- List of contacts -->
	<ul class="list-contacts">
		<div class="row-fluid">
			<!-- In NEXT LINE: to filter by the content of input -> newContact AND to order the contacts -->
			<li ng-repeat="contact in contacts | filter:newContact | orderBy:'name'" class=" span8">
				<div ng-click="displayContact(contact.name)" data-toggle="modal" data-target="#editar" class="span11">

					<!-- Contact name -->
					<div class="titulo span12">
						{{ contact.name }}
					</div>

					<!-- List of numbers -->
					<div class="numbers span6">
						<small ng-repeat="number in contact.numbers">{{ number }}<br></small>
					</div>
					<!-- End List -->


					<!-- List of emails -->
					<div class="emails span6">
						<small ng-repeat="email in contact.emails">{{ email }}<br></small>
					</div>
					<!-- End List -->

				</div>
				<button class="btn btn-danger span1" ng-click="deleteContact($index)"><i class="icon-white icon-trash"></i></button>
			</li>
		</div>
	</ul>
	<!-- End List -->
	

	<!-- -->
	<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit contact</h4>
				</div>
				<div class="modal-body">
					<label>Name: <input type="text" ng-model="editContact.name" class="span4"></label>
					<br>
					<h4>Numbers</h4>
					<form ng-submit="addNumber()">
						<label class="form-inline">
							<input type="text" ng-model="newNumber" placeholder="45 9988 7766" class="span2">
							<button class="btn btn-primary" type="submit">
								<i class="icon-plus icon-white"></i>
							</button>
						</label>
					</form>

					<ul>
						<li ng-repeat="number in editContact.numbers" class="form-inline">
							<input type="text" ng-model="number" class="span2">
							<button class="btn" ng-click="deleteNumber($index)"><i class="icon-trash"></i></button>
						</li>
					</ul>


					<br>
					<h4>Emails</h4>
					<form ng-submit="addEmail()">
						<label class="form-inline">
							<input type="text" ng-model="newEmail" placeholder="name@email.com" class="span4">
							<button class="btn btn-primary" type="submit">
								<i class="icon-plus icon-white"></i>
							</button>
						</label>
					</form>

					<ul>
						<li ng-repeat="email in editContact.emails" class="form-inline">
							<input type="text" ng-model="email" class="span4">
							<button class="btn" ng-click="deleteEmail($index)"><i class="icon-trash"></i></button>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</div>
